In [2]:
import pandas as pd

In [5]:
train_df = pd.read_csv('./data/TrainingSet_2023_02_08.csv')
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299214 entries, 0 to 299213
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sea     299214 non-null  object
 1   Lge     299214 non-null  object
 2   Date    299214 non-null  object
 3   HT      299214 non-null  object
 4   AT      299214 non-null  object
 5   HS      299214 non-null  int64
 6   AS      299214 non-null  int64
 7   GD      299214 non-null  int64
 8   WDL     299214 non-null  object
dtypes: int64(3), object(6)
memory usage: 20.5+ MB

In [6]:
train_df.head()

     Sea   Lge        Date              HT             AT  HS  AS  GD WDL
0  00-01  GER1  11/08/2000        Dortmund  Hansa Rostock   1   0   1   W
1  00-01  GER1  12/08/2000   Bayern Munich  Hertha Berlin   4   1   3   W
2  00-01  GER1  12/08/2000        Freiburg  VfB Stuttgart   4   0   4   W
3  00-01  GER1  12/08/2000    Hamburger SV    Munich 1860   2   2   0   D
4  00-01  GER1  12/08/2000  Kaiserslautern         Bochum   0   1  -1   L